{% extends 'Gestiune/Extensie.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block Continut %}
<div class="content-section bg-primary rounded text-light w-25 " style="margin-top:16%;margin-left:38.6%;margin-right::25.6%">
  <form method="POST" >
    {% csrf_token %}
    <fieldset class="form-group w-75 m-4 ">
      <legend class="border-bottom mb-4">
        <B>Resetează parola</B>
      </legend>
      {{ form|crispy}}
    </fieldset>
    <div class="form-group" style="">
      <button class="btn btn-success rounded" style=" margin-left:5% "type="submit"><i class="fa-solid fa-at"></i>resetez</button>
      </div>
  </form>
</div>
<style>
body {
  background-image: url({% static 'Gestiune/Imagini/imaginereset.jpg' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
{% endblock Continut %}
