{% extends 'Gestiune/Extensie.html' %}
{% load static %}
{% block Continut %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Aproape gata!</h4>
  <p>
    Ți-am trimis un email cu instrucțiunile necesare resetării.
    </p>
  <hr>
  <p class="mb-0"><em>HealthOlaruServices</em><img src="{% static 'Gestiune/Imagini/logo.png' %}"></img>.</p>
</div>
<style>
body {
  background-image: url({% static 'Gestiune/Imagini/imaginereset.jpg' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
  width: 30px;
}
</style>
{% endblock Continut %}
