{% extends 'Gestiune/Extensie.html' %}
{% load static %}
{% block Continut %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Gata!</h4>
  <p>
    Parola ta a fost resetată!
    </p>
  <hr>
  <p class="mb-0"><em>HealthOlaruServices</em><img src="{% static 'Gestiune/Imagini/logo.png' %}"></img>.</p>
  <a href="{% url 'Conectare'%}"><button class="btn btn-info rounded">Încearcă acum să te conectezi!&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user-check text-white"></i></button></a>
</div>
<style>
body {
  background-image: url({% static 'Gestiune/Imagini/imaginereset.jpg' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
  width: 30px;
}
</style>
{% endblock Continut %}
